* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF9E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #FF6347;
    outline: none;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #FF6347;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF6347;
}

.confirmation-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmation-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.confirmation-box p {
    margin-bottom: 30px;
    color: #555;
}

.confirmation-box .btn {
    width: auto;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.login-prompt {
    margin-top: 20px;
    text-align: center; /* Căn giữa văn bản */
    font-size: 16px; /* Kích thước chữ */
}

.login-link {
    color: #FF6347; /* Màu chữ cho liên kết */
    font-weight: bold; /* Đậm chữ */
    text-decoration: none; /* Bỏ gạch chân */
    transition: color 0.3s; /* Hiệu ứng chuyển màu */
}

.login-link:hover {
    color: #e0523a; /* Màu khi hover */
    text-decoration: underline; /* Gạch chân khi hover */
}
